@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 90%);
$main-clr: hsl(217, 100%, 61%);
$second-clr: hsl(215, 75%, 95%);

@mixin inlineFlex() {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $white;
  min-height: 100vh;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

button {
  background: transparent none repeat scroll 0% 0%;
}

header {
  @include inlineFlex();
  justify-content: space-between;
  padding: 1rem;

  .logo,
  .link {
    @include inlineFlex;
    align-items: center;
  }

  svg {
    font-size: 1.3rem;
  }
}

.btn-wrapper {
  @include flexCenter();
  margin-bottom: 3rem;

  .btn {
    height: 40px;
    width: 200px;
    border: 2px solid $main-clr;
    transition: all 0.5s ease-in 0s;

    color: $main-clr;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

    &:hover,
    &:focus-within {
      border-radius: 60px;
      border-color: $main-clr;
      background: $main-clr none repeat scroll 0% 0%;
      color: $white;
    }
  }
}

main {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin-bottom: 3rem;

  &.centered {
    justify-content: center;
  }
}

.hidden {
  display: none !important;
}

.player-side,
.computer-side {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;

  .field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    width: 350px;
    height: 350px;
    border: 3px solid $second-clr;

    * {
      border: 1px solid $second-clr;
      position: relative;
      width: 100%;

      &.missed,
      &.hit,
      &.sunk {
        cursor: default;
      }

      &.missed::before {
        content: '';
        background-color: $black;
        width: 30%;
        height: 30%;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.hit {
        background-color: $second-clr;

        &::before {
          content: "✕";
          color: $main-clr;
          font-size: 4rem;
          height: 100%;
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &.sunk {
        background-color: $main-clr;

        &::before {
          content: "✕";
          color: $white;
          font-size: 4rem;
          height: 100%;
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .field-title {
    text-align: center;
  }
}

.player-side {
  .field * {
    &[data-id] {
      background-color: $second-clr;
      border: 3px solid $main-clr;
    }

    &:hover {
      cursor: crosshair;
      background-color: $second-clr;
    }
  }

  .field-title {
    grid-column-start: 2;
  }
}

.ships {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3px;

  &.player-ships {
    align-items: flex-end;
  }

  &.computer-ships {
    align-items: flex-start;
  }

  .ship-wrapper {
    @include inlineFlex();
    gap: 0.2rem;

    .cube {
      width: 0.5rem;
      height: 0.5rem;
      background-color: $gray;
    }

    &.active .cube {
      background-color: $main-clr  !important;
    }

    & .cell {
      width: 35px;
      height: 35px;
      background-color: $second-clr;
      border: 3px solid $main-clr;
    }
  }

  .ship-wrapper[draggable="true"] {
    gap: 0;

    &[data-vertical="true"] {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 50rem) {
  main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 28rem) {
  .link {
    span {
      display: none;
    }
  }

  header {
    svg {
      font-size: 1.5rem;
    }
  }
}